.button {
    text-align: center;
    color: #ffffff;
    padding: 16px 49px;
    font-size: 16px;
    border-radius: 50px;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 57px;
    border: 0px solid transparent;
    background: var(--button-color);
    font-weight: 500;
}