.step-card {
                display: flex;
                flex-direction: row;
                width: 322.49px;
                height: 72.38px;
                margin-top: 26px;
                background-color: #f6f6f6;
                border-radius: 20px;
                box-shadow: 0px 2px 15px #d6d6d6;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    margin: auto;
                    margin-left: 20px;
                }

                .number-circle {
                    position: relative;
                    height: 24px;
                    width: 24px;
                    top: 25px;
                    left: -12px;
                    background-color: var(--primary);
                    color: #ffffff;
                    border-radius: 180px;

                    p {
                        line-height: 24px;
                        margin: auto;
                        margin-left: 8px;
                    }
                }

                i {
                    margin-top: 28px;
                    margin-left: 21.98px;
                    color: #7E7E7E;
                }
            }